.center {
	text-align: center;
	background-color:#b0c4de;
	border-style:solid;
	border-width:1px;
}

h1.header {
	font-family: "Comic Sans MS";
}

form {
	display: inline;
}

#topbar {
	border-style:solid;
	border-width:1px;
	background-color:#b0c4de;
	font-size: 3em;
}

#uname {
	float: right;
}

#space {
	height: 8px;
}